main section {
    margin-top: 130px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 900;
    padding-left: 150px;
}

.text-primary {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 900;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color:#FFF;
    font-size: 20px;
    font-weight: 700; 
    padding: 15px 35px;
    margin: 5px;
}
/*NAV related Style*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul>li {
    list-style: none;
    margin-right: 50px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/*header related styles */

header {
    background-image: url('../images/header_bg.png');
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center; 
}

.banner .profile{
    width: 500px;
}