main section {
    margin-top: 130px;
    max-width: 1140px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 900;
    padding-left: 150px;
}

.text-primary {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 900;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    margin: 0px 15px 0px 0px;
}

/*NAV related Style*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul>li {
    list-style: none;
    margin-right: 50px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/*header related styles */

header {
    background-image: url('../images/header_bg.png');
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile {
    width: 500px;
}

.Hi {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0%;
}

.name {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 7px;
    margin-bottom: 0%;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    max-width: 500px;
    margin-top: 7px;
}

/*Main Section Style */

/*about section*/

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.info-description {
    color:  #474747;
    font-size: 20px;
    font-weight: 700;
}